*{
    margin: 0; 
    padding: 0;
    box-sizing: content-box;
}

@font-face{
    font-family: 'text';
    src:url('fontfamily/Almarai-Regular.ttf');
    font-style: normal;
    font-weight:bold;
}
/*Start Header*/
body{
        background-image: url('jawahire2.png');

}
header{
    padding: 20px;
    font-family: Arial;
    display: flex;
    justify-content:center
}
header h1{
    color: #FFF;
    display: inline;
    font-family: text;
    font-size: 50px
}

/*End Header*/

/*Start Content*/

.content{
    display: flex;
    justify-content:center;
    height: 493px;
}
.content h1{
    margin-top: 110px;
}
.content h1 a{
    border: 2px solid #d3f8d9;
    padding: 30px;
    font-size: 60px;
    border-radius: 80px;
    background: #126c0d;
    text-decoration: none;
    color:#FFF;
    font-family: text  ;  
}
/*End Content*/

@media(min-width:320px) and (max-width:400px){
    
    header h1 {
        font-size: 20px;
    }
    .content h1 a {
        font-size: 22px;
    }

}
@media(min-width:401px) and (max-width:500px){
    
    header h1 {
        font-size: 30px;
    }
    .content h1 a {
        font-size: 30px;
    }

}
@media(min-width:501px) and (max-width:600px){
    
    header h1 {
        font-size: 36px;
    }
    .content h1 a {
        font-size: 38px;
    }

}

@media(min-width:601px) and (max-width:700px){
    
    header h1 {
        font-size: 48px;
    }
    .content h1 a {
        font-size: 48px;
    }

}

@media(min-width:701px) and (max-width:800px){
    
    header h1 {
        font-size: 50px;
    }
    .content h1 a {
        font-size: 55px;
    }

}

















